{% extends "aiuts/base.html" %}
{% block currPage %} <a href="{% url 'aiuts:index' %}"> Index </a> > Summary of Transaction {% endblock %}
{% block title %} Summary of Transaction {% endblock %}
{% block mainbody %}
	<h2> Search Transaction </h2>
	<hr />


	<form action="{% url 'aiuts:searchtransaction' %}" method="POST">	
		{% csrf_token %}
		
		<label> From Date: </label>
		<input type="date" name="from_date"/>
		<label> To Date: </label>
		<input type="date" name="to_date" />
		<label> Account Address </label>
		<input type="text" placeholder="Optional" name="acc_addr" />
		<input type="submit" value="Search" />
	</form>
		<br />
	
	<h2> Summary of Transaction </h2>
	<hr />
	<table class="table">
		<tr> 
			<th scope="col"> Date </th scope="col">
			<th scope="col"> Sender </th scope="col">
			<th scope="col"> Amount </th scope="col">
			<th scope="col"> Recipient </th scope="col">
			<th scope="col"> Remark </th scope="col">
		</tr>
		</thead>
		<tbody>

	{% for transaction in all_transaction %}
	<tr>
		<th scope="row"> {{ transaction.record_date }} </th>
		<td>{% if transaction.sender.acc_id == user %} You {% else %} {{ transaction.sender.acc_id }} {% endif %} </td>
		<td> {{ transaction.amount|floatformat:2}} Baht </td>
		<td>{% if transaction.recipient.acc_id == user %} You {% else %} {{ transaction.recipient.acc_id }} {% endif %} </td>
		<td> {{ transaction.remark }} </td>
	</tr>
	{% endfor %}
		</tbody>
	</table>
	{% endblock %}
