
{% extends "aiuts/base.html" %}
{% block currPage %} <a href="{% url 'aiuts:index' %}"> Index </a> > <a href="{% url 'aiuts:dashboard' %}">Dashboard</a> > Top Up {% endblock %}
{% block title %} Top Up {% endblock %}
{% block mainbody %}
    <main id="topup-page">
    <hr />
    <div>
        <p style="float: left"> <b>Acc ID:</b> {{ user.acc_id}} </p>
        <div />
            <p style="float: right"> <b>Balance:</b> <span id="curr_balance">{{ user.balance | floatformat:2 }}</span> Baht </p>
        </div>
        <br />
        <h2 class="margin-top"> Pending Transactions </h2>
        <hr />
        {% if all_transaction %}
            <table class="table" id="my_topups">
                <tr> 
                    <th scope="col"> Date </th scope="col">
                    <th scope="col"> Recipient </th scope="col">
                    <th scope="col"> Amount </th scope="col">
                    <th scope="col"> Type of Transaction</th>
                    <th scope="col"> Completion </th>
                </tr>
                </thead>
                <tbody>
                {% endif %}
                {% for transaction in all_transaction %}
                    <tr>
                        <th scope="row"> {{ transaction.record_date }} </th>
                    <td>{% if transaction.recipient.user.username == request.user.username %} You {% else %} {{ transaction.recipient.user.username }} {% endif %} </td>
                    <td> {{ transaction.amount|floatformat:2}} Baht </td>
                    <td>{{transaction.type}}</td>
                <td>{% if transaction.recipient.user.username == request.user.username %} {{ transaction.complete }} {% else  %} <a href="{% url 'aiuts:approvetransaction' transaction.id %}"> Approve </a> | <a href="{% url 'aiuts:declinetransaction' transaction.id %}" class="text-danger"> Decline </a>{% endif %} </td>
                    </tr>
                {% empty %}
                    <table id="my_topups"></table>
                    <span id="empty">No pending top up request!</span>
                {% endfor %}
                </tbody>
            </table>
    </main>

            {% if request.user.username != "bank" %}
                <h2 class="margin-top"> Top Up </h2>
                <hr />
                <form id="topup-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-outline-primary" value="Submit" />
                </form>

                <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
                <script>dayjs().format()</script>

            {% endif %}

        {% endblock %}
        {% block script %}
            {% if request.user.username != "bank" %}
            $("#topup-form").submit(function (e) {
            e.preventDefault();
            var serializedData = $(this).serialize();
            $.ajax({
            type: 'POST',
            url: "{% url 'aiuts:topup_req' %}",
            data: serializedData,
            success: function (response) {
            $("#topup-form").trigger('reset');
            $("#id_amount").focus();

            var instance = JSON.parse(response["instance"]);
            var topup = instance[0]["fields"];
            $("#my_topups").append(`
            <tr>
                <th>${dayjs().format('MMMM D, YYYY, h:mm a.')||""}</th>     
                <td>${"You"}</td>
                <td>${topup["amount"] + " Baht"||""}</td>
                <td>${topup["type"]}</td>
                <td>${"False"}</td>
            </tr>
            `)
  alert = `<ul class="messages">
                    <div class="position-fixed bg-white border font-weight-bold border-dark alert alert-white alert-dismissible fade show" style="top: 10px; right: 1vw;" role="alert">
                        Requesting money!
                        <a type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>

            </ul>`;
            $(".messages").hide();
            $("body").append(alert);
            setTimeout(function() {$(".messages").hide()}, 2000)
           
            },
            error: function(response) {
            alert(response["responseJSON"]["error"]);
            }

            })
            })
            {% endif %}

            function fetchdata(){
            $.ajax({
            url: '{% url 'aiuts:topup_req' %}',
            type: 'GET',
            success: function(data){
            balance = $("#curr_balance", data).text();
            table = $("table", data).html(); 
            $("#curr_balance").text(balance);
            $("#empty").remove();
            $("#my_topups").replaceWith(`<table class='table'>`+table+ `</table>`);
            console.log("updated");
           },
            complete:function(data){
            setTimeout(fetchdata,5000);
            }
            });
            }

            $(document).ready(function(){
            setTimeout(fetchdata,5000);
            });

        {% endblock %}
